body,html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    font-size: 10px;
    background-image: url(./image/background.jpg);
    user-select: none;
}
.whole
{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
h3,p{
    font-size: 3rem;
    text-align: center;
   color:palevioletred;
}
.keys{
    min-height: 40vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.key{
    border-radius: 0.5rem;
    border: 0.4rem solid plum;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    color:bisque;
    width:10rem;
    text-align: center;
    background-color:black;
    transition: all 0.07s ease;
}
kbd{
    display: block;
    font-size: 4rem;
    color:azure;
    cursor: pointer;
}
span{
    font-size: 1.5rem;
    color:darkorchid;
    text-transform: inherit;
}
.playing
{
    transform: scale(1.1);
    border-color:aqua;
    box-shadow: 0 0 1rem aqua;
}
.sound
{
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color:#bb86fc;
}
footer{
    text-align: center;
    color:coral;
}
a{
    color: chartreuse;
}
.rfooter
{
    position: absolute;
    bottom: 50px;
    left:35%;
}
.rfooter a{
    color:cornflowerblue;
    text-align: center;
}